.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  padding: 20px 35px 40px 35px;
  border-radius: 10px;
  box-shadow: 25px 25px 25px rgba(5, 5, 5, 0.1);
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.form-input::placeholder {
  color: black;
  opacity: 1;
}

.forgot-password-button {
  width: 200px;
  background-color: #0A5F70;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0 auto;
}

.forgot-password-button:hover {
  background-color: #084a58;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}

.success-message {
  color: green;
  text-align: center;
  font-weight: bold;
}

/* Additional styles for the new fields */
.verification-code-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.verification-code-input::placeholder {
  color: black;
  opacity: 1;
}

.new-password-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.new-password-input::placeholder {
  color: black;
  opacity: 1;
}
