/* General container styles for Login and SignUp */
.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form-title, .signup-form-title {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form-container, .signup-form-container {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(5, 5, 5, 0.1);
  width: 320px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form-content, .signup-form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.login-form-title, .signup-form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-group, .signup-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-input, .signup-form-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: black;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.login-form-input::placeholder, .signup-form-input::placeholder {
  color: black;
  opacity: 1;
}

.login-button, .signup-button {
  width: 100%;
  background-color: #0A5F70;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px auto;
}

.login-button:hover, .signup-button:hover {
  background-color: #084a58;
}

.login-forgot-password, .signup-forgot-password {
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.login-sign-up{
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.login-error-message, .signup-error-message {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}

.signup-success-message {
  color: green;
  text-align: center;
  font-weight: bold;
}
