.doc-settings-container {
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px; /* Add some space from the top */
}

.doc-settings-title {
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.doc-settings-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    max-width: 400px; /* Limit the form width */
    padding: 50px;
    border: 2px solid black; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label-old-password,
.label-new-password {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-old-password,
.input-new-password {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.submit-button {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    background-color: #0A5F70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.error-message {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
