/* styles.css */

/* Wrapper styling for centering and full viewport height */
.DocViewPatients-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 97vw;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Container styling */
.DocViewPatients-container {
    margin-bottom: 100px;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
}

/* Search Bar Styles */
.DocViewPatients-search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.DocViewPatients-search-bar input[type="text"] {
    color: black;
    background-color: white;
}

.DocViewPatients-search-bar form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.DocViewPatients-search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
    background-color: white;
    max-width: 300px;
}

/* Table Styles */
.DocViewPatients-table {
    width: 100%;
    border-collapse: collapse;
}

.DocViewPatients-table th, .DocViewPatients-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.DocViewPatients-table th {
    background-color: lightseagreen;
    color: white;
}

.DocViewPatients-table td:first-child {
    color: black;
    font-size: 16px;
}

.DocViewPatients-table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .DocViewPatients-wrapper {
        min-width: 100vw;
    }

    .DocViewPatients-search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .DocViewPatients-search-bar input[type="text"] {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    /* Table layout for smaller screens */
    .DocViewPatients-table th, .DocViewPatients-table td {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px; /* Reduce padding on smaller screens */
    }

    .DocViewPatients-table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden; /* Prevent overlapping content */
    }
}
